html {
  box-sizing: border-box;
  line-height: 1.4;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: bold;
  width: 300px;
}

p {
  margin: 15px 0;
  min-width: 360px;
}

.banner {
  position: relative;
  max-height: 500px;
  width: 100%;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.img {
  padding-right: 2em;
}

.img img {
  max-width: 230px;
  min-width: 190px;
  width: 100%;
}

.text {
  max-width: 18em;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 45em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2em 4em;
}

.btn {
  background-color: #333;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  padding: .6em .9em;
}

.btn-big {
  margin: 0;
}

.btn:hover {
  background-color: #000;
}
